---
# This workflow builds and tests a container image and then created a new
# semantic release version if appropriate. The release versions are currently
# not used for image tagging or anything else, but I may use it again in future.
name: test and release new version
on:
  pull_request:
    branches: master
  push:
    branches: master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and test
        uses: docker/build-push-action@v2
        with:
          target: test

  release:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Create new release
        uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17
        env:
          GIT_AUTHOR_NAME: ${{ github.actor }}
          GIT_AUTHOR_EMAIL: ${{ github.actor }}@users.noreply.github.com
          GIT_COMMITTER_NAME: ${{ github.actor }}
          GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
